<div class="edit">
  <h1>Editing Book</h1>

  <% if @errors.present? %>
  <div class="error-messages">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_with model: @book do |f| %>

    <div class="f">
      <p>Title</p>
      <%= f.text_field :title %>
    </div>

    <div class="f">
      <p>Body</p>
      <%= f.text_area :body %>
    </div>

    <div class="f">
      <%= f.submit 'Update Book' %>
    </div>

    <%= link_to "Show", book_path(id: @book.id) %> | <%= link_to "Back", books_path %>
  <% end %>
</div>