<div class="edit">
  <h1>Editing Book</h1>

  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @books do |f| %>

    <div class="f">
      <p>Title</p>
      <%= f.text_field :title %>
    </div>

    <div class="f">
      <p>Body</p>
      <%= f.text_area :body %>
    </div>

    <div class="f">
      <%= f.submit 'Update Book' %>
    </div>

    <a href=  "<%= book_path(id: @books) %>">Show</a> | <a href= "<%= books_path %>">Back</a>
  <% end %>
</div>